DB_USER=postgres # Define o nome de usuário para acesso ao PostgreSQL
DB_PASSWORD=postgres # Define a senha de acesso ao PostgreSQL
DB_NAME=hospital_teste # Define o nome do banco de dados que a aplicação irá se conectar
DB_HOST=localhost # Define o endereço do servidor do banco de dados
DB_PORT=5432 # Define a porta em que o banco de dados está escutando